* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B Yekan', 'Calibri Light';
    font-size: 14px;
    outline: 0;
    text-decoration: none;
}

body {
    background-color: rgb(236, 236, 236);
}

.main {
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 79px -6px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 79px -6px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 79px -6px rgba(0, 0, 0, 0.11);
}

.header {
    direction: rtl;
    height: 150px;
    background-color: rgb(245, 245, 245);
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.members {
    background-color: rgb(201, 201, 201);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.members>div {
    text-align: center;
    direction: rtl;
}

.member {
    padding: 10px;
}

.member:hover {
    color: white;
    transition-duration: .7s;
    background-color: rgb(109, 109, 109);
}

.member:hover:nth-child(1)::after {
    content: ' (95105838)';
    white-space: pre
}

.member:hover:nth-child(2)::after {
    content: ' (95105787)';
    white-space: pre
}

.member:hover:nth-child(3)::after {
    content: ' (95105754)';
    white-space: pre
}

.member:not(:hover) {
    transition-duration: .5s;
}

.databases {
    direction: rtl;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100% - 200px)
}

.product,
.seller,
.user {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 17px;

}

.product,
.seller {
    border-left: 1px solid rgba(227, 227, 227, 1);
}

.databases>div>i {
    font-size: 90px;
}

input,
button {
    width: 200px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    padding: 5px;
    margin-top: 5px;
    text-align: center
}

input {
    background-color: rgb(243, 243, 243);
}

input:hover {
    background-color: rgb(221, 221, 221);
    transition-duration: .5s;
}

button {
    background-color: rgb(199, 222, 255);
}

button:hover {
    background-color: rgb(0, 106, 255);
    transition-duration: .5s;
    color: white;
}

button:not(:hover),
input:not(:hover) {
    transition-duration: .5s;
}

.databases > form {
    padding: 10px;
    text-align: center;
    display: block;
    width: 1025px;
    height: 100%;
    align-content: center;
    margin: auto;
}

.databases > form > table {
    margin: auto;
}

table {
    border-collapse: collapse;
}

table tr td {
    width: 100px;
    padding: 5px;
    border: 1px solid rgb(184, 184, 184);
}

table tr td:nth-child(odd) {
    text-align: right;
    background-color: rgb(199, 222, 255);
    color: black;
}

table tr:hover {
    background-color: rgb(0, 106, 255);
    transition-duration: .5s;
    color: white;
}