* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri Light';
    outline: 0;
    text-decoration: none;
}

body {
    background-color: rgb(236, 236, 236);
}

.main {
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 79px -6px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 79px -6px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 79px -6px rgba(0,0,0,0.11);
}

.header {
    direction: rtl;
    height: 150px;
    background-color: rgb(245, 245, 245);
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.members {
    background-color: rgb(201, 201, 201);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.members > div {
    text-align: center;
    direction: rtl;
}

.member {
    padding: 10px;
}


.member:hover {
    color: white;
    transition-duration: .7s;
    background-color: rgb(109, 109, 109);

}

.member:not(:hover) {
    transition-duration: .7s;
}

.databases {
    direction: rtl;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100% - 200px)
}

.product, .seller, .user {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 17px;

}

.product, .seller {
    border-left: 1px solid rgba(227,227,227,1);
}

.databases > div > i {
    font-size: 90px;
}